extends layout 


block main-content 
  //You can overwrite the main-content block by writing block content
  //in the template file which is extending.
  body.
  h1.page-title Home
  p Chicken Beast provides ready-to-eat chicken breast that taste nice and good for your health!
  img.main-image(src="./images/chicken_main.jfif", alt="Fried Chicken Breast")
  //// Imgae downloaded from https://www.pinterest.com/pin/528680443767585859/
