extends layout 


block main-content 
  //You can overwrite the main-content block by writing block content
  //in the template file which is extending.
  h1.page-title Nutrition
  p Chicken breast is a good diet for people who are tryign to keep fit as it contains hgih protein with low fat. 
  p The average 4-ounce serving size of raw boneless skinless chicken breast contains approximately:
  ul#nutritionList 
    li 110 Calories
    li 26g of Protein
    li 1g of Fat 
  img(src="./images/raw.jfif", alt=`Chicken Breast Preparation`)
  // Imgae downloaded from https://www.pinterest.com/pin/69805862962379475/